certifi==2019.6.16
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
joblib==0.13.2
lxml==4.3.4
newsapi-python==0.2.5
nltk==3.4.3
numpy==1.16.4
openpyxl==2.6.2
pandas==0.24.2
Pillow==8.1.1
PyQt5==5.12.2
PyQt5-sip==4.19.17
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
torch==1.1.0
torch-nightly==1.2.0.dev20190620
torchvision==0.3.0
urllib3==1.24.3
xlrd==1.2.0
